section div img {
  width: 100%;
  max-width: 1000px;
}

section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section div button {
  background: none;
  border: 1px solid black;
  margin-bottom: 2%;
}

section div p {
  padding: 0 20%;
}

@media screen and (max-width: 500px) {
  section div button {
    order: 3;
  }

  section div img {
    margin-top: 2%;
  }
}
