/* article .img-container {
  padding-top: 0.6666%;
  height: 0;
} */
/* .img-abstract-container {
  display: flex;
  justify-content: center;
  vertical-align: center;
}

.img-container {
  padding-bottom: 0;
  height: auto;

}

.img-abstract-container p {
  width: 33%;
  padding: 5%;
  margin: 0;
} */


article {
  position: relative;
}

article h2 {
  position: absolute;
  bottom: 2px;
  z-index: 2;
  margin: 0;
  background: rgba(0,0,0,0.55);
  color: white;
  padding: 5% 63% 5% 5%;
  /* padding-right: 50%;
  padding-top: 5%; */
}

article button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 3;
  transform: translate(-10%, -30%);
  background: none;
  border: 1px solid white;
  color: white;
  padding: 4px 8px;
}

article img {
  position: relative;
  z-index: 0;
  width: 100%;
  height: auto;
}

@media screen and (max-width: 620px) {
  article h2 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 420px) {
  article h2 {
    font-size: 0.7em;
  }
}
